* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

header{
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    margin: 10px 10px;
}

body {
    background-color:rgba(236, 236, 236, 1);
    color: rgba(0,0,0,1);
    width: 100%;
    padding:10px;
    margin:10px;
}

nav {
    display:flex;
    justify-content: center;
}
nav p{

    padding: 10px 10px;
    text-align:center;
    width: 66%;
}


a {
    color: rgba(0,0,0,1);
    text-decoration: none;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:3px;
    width: 100%;
}

a.mailto {
    display: flex;
    justify-content: center;
    margin: 3px;
    padding-bottom: 3px;
}